body{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

#A,#B,#set{
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    -moz-box-shadow: 0px 0px 9px #000000;
    -webkit-box-shadow: 0px 0px 9px #000000;
    box-shadow: 0px 0px 9px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#1a3aff', endColorstr = '#fffddb');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#1a3aff', endColorstr = '#fffddb')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #1a3aff, #fffddb);
    background-image: -ms-linear-gradient(top, #1a3aff, #fffddb);
    background-image: -o-linear-gradient(top, #1a3aff, #fffddb);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#1a3aff), to(#fffddb));
    background-image: -webkit-linear-gradient(top, #1a3aff, #fffddb);
    background-image: linear-gradient(top, #1a3aff, #fffddb);
    /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
    opacity: 0.39;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 39);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity = 39);
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*All filters must be placed together*/



}